.todo-app {
  width: 70vw;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  .header {
    background-color: blanchedalmond;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
  }
  .head {
    display: flex;
    padding: 1rem;
    flex: 1;
  }
  .tasks {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
  }
  .editable-task {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .task {
    display: flex;
  }
  .edit-text {
    flex: 1;
    flex-grow: 1;
  }
  input,
  input:focus,
  .task-name {
    margin: 2px;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #ccc;
    display: flex;
  }

  .task-name {
    display: block;
    border: none;
    flex: 1;
    font-size: 1.6rem;
    font-weight: 500;

    flex-grow: 1;
  }
  .task-name.completed {
    text-decoration: line-through;
  }
  .checkbox {
    display: inline;
  }
  .button {
    margin: 2px;
    line-height: 3rem;
    display: block;
    flex-basis: 8rem;
    text-align: center;
    border: 1px solid #ccc;
  }
}
